@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@500&display=swap");
@-webkit-keyframes sidebarSlideIn {
  0% {
    width: 17.5em;
  }
  100% {
    width: 3.75em;
  }
}
@keyframes sidebarSlideIn {
  0% {
    width: 17.5em;
  }
  100% {
    width: 3.75em;
  }
}

@-webkit-keyframes mainSlideIn {
  0% {
    grid-template-columns: 17.5em calc(100% - 17.5em);
  }
  100% {
    grid-template-columns: 3.75em calc( 100% - 3.75em) !important;
  }
}

@keyframes mainSlideIn {
  0% {
    -ms-grid-columns: 17.5em calc(100% - 17.5em);
        grid-template-columns: 17.5em calc(100% - 17.5em);
  }
  100% {
    -ms-grid-columns: 3.75em calc( 100% - 3.75em) !important;
        grid-template-columns: 3.75em calc( 100% - 3.75em) !important;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #151515;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

#Main {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.5em calc(100% - 17.5em);
      grid-template-columns: 17.5em calc(100% - 17.5em);
  -ms-grid-rows: 2.5em 100vh 2.1875em;
      grid-template-rows: 2.5em 100vh 2.1875em;
      grid-template-areas: "sidebar navbar" "sidebar content" "sidebar footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navbar;
  width: 100%;
  height: 2.5em;
  background-color: #0f445d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.navbar .logo img {
  height: calc(2.5em - 10px);
  width: auto;
}

.navbar .info span {
  margin: 0 0.5em;
  color: #e4e4e4;
}

.navbar .logout {
  color: #e4e4e4;
  border-radius: 0.3125em;
  padding: 0.4em 0.6em;
  background-color: #0b3447;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  position: relative;
  min-height: 100vh;
  width: 17.5em;
  background-color: #1d84b5;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .menu {
  position: absolute;
  right: 1.5em;
  top: 1em;
  color: #f1f1f1;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.4em;
}

.sidebar .container {
  width: 100%;
  height: 100vh;
  padding: 0.9em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .container .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .container .head .profile {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sidebar .container .head .name {
  margin-top: 0.6em;
  color: #e4e4e4;
  font-size: 1.2em;
}

.sidebar .container .head span {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.sidebar .container .head span::before {
  content: "(";
}

.sidebar .container .head span::after {
  content: ")";
}

.sidebar .container .head p {
  margin-top: 0.4em;
  padding: 0.3em 0.6em;
  background-color: #30a828;
  color: #f1f1f1;
  border-radius: 0.625em;
}

.sidebar .container .head p i {
  vertical-align: middle;
}

.sidebar .container .sidebar-list {
  width: 100%;
  height: 48%;
  margin-top: 2em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .container .sidebar-list .sidebar-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .container .sidebar-list .sidebar-item .sidebar-link {
  padding: 0.5em 0.1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid transparent;
  font-size: 1.4em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.sidebar .container .sidebar-list .sidebar-item .sidebar-link i {
  margin-right: 0.3em;
}

.sidebar .container .sidebar-list .sidebar-item .sidebar-link:hover {
  background-color: #166489;
  border-left: 2px solid #f1f1f1;
}

.sidebar .container .foot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .container .foot a {
  padding: 0.4em 0.7em;
  border-radius: 0.3125em;
  font-size: 1.3em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.sidebar .container .foot a i {
  vertical-align: middle;
}

.sidebar .container .foot a:hover {
  background-color: #166489;
}

.mini {
  width: 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: sidebarSlideIn 0.4s;
          animation: sidebarSlideIn 0.4s;
}

.mini .menu {
  left: 30%;
}

.mini .container .head .profile {
  width: 50px;
  height: 50px;
}

.mini .container .head .name {
  display: none;
}

.mini .container .head span {
  display: none;
}

.mini .container .head p span {
  display: none;
}

.mini .container .sidebar-list .sidebar-item .sidebar-link span {
  display: none;
}

.mini .container .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mini .container .foot .settings {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  padding: 0.4em 0;
}

.mini .container .foot .logout {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  border-radius: 0;
  font-size: 0.95em;
}

.max {
  -webkit-animation: mainSlideIn 0.4s;
          animation: mainSlideIn 0.4s;
  -ms-grid-columns: 3.75em calc( 100% - 3.75em) !important;
      grid-template-columns: 3.75em calc( 100% - 3.75em) !important;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  width: 100%;
  height: 2.1875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0b0a07;
}

footer p,
footer a {
  color: #e4e4e4;
}

footer a {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

footer a:hover {
  color: #1d84b5;
}

#Login {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Login .container {
  width: 30em;
  height: 35em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Login .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Login .container .head img {
  height: 5em;
  width: auto;
}

#Login .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Login .container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Login .container form .line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4em 0;
}

#Login .container form .line label {
  padding: 0.1em 0.2em;
}

#Login .container form .line input {
  width: 19em;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Login .container form .line i {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.5em;
}

#Login .container form button {
  margin-top: 0.8em;
  padding: 0.5em 1.9em;
  background-color: #008bf8;
  color: #f1f1f1;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#Login .container form button:hover {
  background-color: #006ec5;
}

#Login .container p,
#Login .container a {
  color: #111;
}

#Login .container a {
  color: #008bf8;
}

#Login .container a:hover {
  text-decoration: underline;
}

#Register {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Register .container {
  width: 30em;
  height: 35em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Register .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Register .container .head img {
  height: 5em;
  width: auto;
}

#Register .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Register .container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Register .container form .row {
  width: 19em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Register .container form .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Register .container form .row .col label {
  padding: 0.1em 0.2em;
}

#Register .container form .row .col input {
  width: 95%;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Register .container form .line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4em 0;
}

#Register .container form .line label {
  padding: 0.1em 0.2em;
}

#Register .container form .line input {
  width: 19em;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Register .container form .line i {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.5em;
}

#Register .container form button {
  margin-top: 0.8em;
  padding: 0.5em 1.9em;
  background-color: #008bf8;
  color: #f1f1f1;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#Register .container form button:hover {
  background-color: #006ec5;
}

#Register .container p,
#Register .container a {
  color: #111;
}

#Register .container a {
  color: #008bf8;
}

#Register .container a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */