@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

#Login {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Login .container {
  width: 30em;
  height: 35em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Login .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Login .container .head img {
  height: 5em;
  width: auto;
}

#Login .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Login .container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Login .container form .line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4em 0;
}

#Login .container form .line label {
  padding: 0.1em 0.2em;
}

#Login .container form .line input {
  width: 19em;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Login .container form .line i {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.5em;
}

#Login .container form button {
  margin-top: 0.8em;
  padding: 0.5em 1.9em;
  background-color: #008bf8;
  color: #f1f1f1;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#Login .container form button:hover {
  background-color: #006ec5;
}

#Login .container p,
#Login .container a {
  color: #111;
}

#Login .container a {
  color: #008bf8;
}

#Login .container a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */