@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #151515;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

#Main {
  width: calc(100% - 17.5em);
  min-height: calc(100vh - 2.5em);
  height: 100vh;
  background-color: #f1f1f1;
  margin-left: 17.5em;
  margin-top: 2.5em;
}

.max {
  width: calc(100% - 3.75em) !important;
  margin-left: 3.75em !important;
}

.title {
  padding: 0.8em 0;
  color: #008bf8;
  font-size: 2.3em;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.alert-default, .alert-error, .alert-success {
  position: fixed;
  padding: 0.8em 1em;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2em;
  right: 0.8em;
  min-width: 5em;
  min-height: 2em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  -webkit-animation: alert 0.8s ease-in-out;
          animation: alert 0.8s ease-in-out;
}

.alert-default i, .alert-error i, .alert-success i {
  -webkit-animation: fadeIn ease 1s;
          animation: fadeIn ease 1s;
  margin-right: 0.2em;
  font-size: 1.4em;
}

@-webkit-keyframes alert {
  0% {
    right: -10em;
  }
  100% {
    right: 0.8em;
  }
}

@keyframes alert {
  0% {
    right: -10em;
  }
  100% {
    right: 0.8em;
  }
}

.alert-default {
  background-color: #545766;
}

@media (max-width: 700px) {
  .alert-default {
    bottom: 5em;
    padding: 0.8em;
  }
}

.alert-error {
  background-color: #fd685b;
}

@media (max-width: 700px) {
  .alert-error {
    bottom: 5em;
    padding: 0.8em;
  }
}

.alert-success {
  background-color: #28a745;
}

@media (max-width: 700px) {
  .alert-success {
    bottom: 5em;
    padding: 0.8em;
  }
}

.navbar {
  width: calc(100% - 17.5em);
  height: 2.5em;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #166489;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  z-index: 100;
}

.navbar .logo img {
  height: calc(2.5em - 8px);
  width: auto;
}

.navbar .info span {
  color: #ececec;
}

.navbar .logout {
  font-size: 1.5em;
  background-color: #0f445d;
  color: #f1f1f1;
  padding: 0.1em 0.2em;
  border-radius: 0.1875em;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar .info {
    display: none;
  }
}

.sidebar {
  width: 17.5em;
  height: 100vh;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #1d84b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .menu {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  color: #f1f1f1;
  font-size: 1.3em;
}

.sidebar .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .head .profile {
  width: 5.5em;
  height: 5.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sidebar .head .name {
  margin-top: 0.4em;
  color: #f1f1f1;
  font-size: 1.2em;
  font-weight: 600;
}

.sidebar .head #uuid {
  color: #1e1e1e;
  font-size: 0.95em;
}

.sidebar .head #uuid::before {
  content: "(#";
}

.sidebar .head #uuid::after {
  content: ")";
}

.sidebar .head .uuid {
  display: none;
}

.sidebar .head #active {
  margin-top: 0.5em;
  padding: 0.4em 1em;
  border-radius: 0.625em;
  color: #f1f1f1;
  background-color: #28a745;
}

.sidebar .sidebar-list {
  height: 60%;
  margin: 0;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .sidebar-list .sidebar-item {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .sidebar-list .sidebar-item .sidebar-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1em 25%;
  margin-left: 2px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.sidebar .sidebar-list .sidebar-item .sidebar-link i {
  margin-right: 0.5em;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.7em;
}

.sidebar .sidebar-list .sidebar-item .sidebar-link:hover {
  background-color: #0f445d;
  border-left: 2px solid #f1f1f1;
  margin-left: 0;
}

.sidebar .foot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .foot a {
  text-align: center;
  padding: 0.6em 0.6em;
  font-size: 1.3em;
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.sidebar .foot a i {
  vertical-align: middle;
}

.sidebar .foot a:hover {
  background-color: #0f445d;
}

.sidebar .foot .logout {
  padding: 0.6em 0.7em;
  font-size: 1.1em;
}

.sidebar .foot .logout i {
  display: none;
}

.sidebar-mini {
  overflow: hidden;
  width: 3.75em;
}

.sidebar-mini .menu {
  position: static;
}

.sidebar-mini .head .profile {
  display: none;
}

.sidebar-mini .head .name {
  display: none;
}

.sidebar-mini .head #uuid {
  display: none;
}

.sidebar-mini .head .uuid {
  display: block;
  margin-top: 0.2em;
}

.sidebar-mini .head #active {
  padding: 0.3em 0;
  border-radius: 0;
  text-align: center;
}

.sidebar-mini .sidebar-list .sidebar-item .sidebar-link {
  padding: 1.1em 30%;
}

.sidebar-mini .foot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-mini .foot a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}

.sidebar-mini .foot .logout i {
  display: block;
  font-size: 1.2em;
}

footer {
  width: calc(100% - 17.5em);
  margin-left: 17.5em;
  height: 2.1875em;
  background-color: #0b0a07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer p {
  color: #f1f1f1;
}

footer a {
  font-weight: 600;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

footer a:hover {
  color: #1d84b5;
}

@media (max-width: 900px) {
  footer {
    height: calc(2.1875em + 2.5em);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer p,
  footer a {
    font-size: 0.95em;
  }
}

.notification-default, .notification-error, .notification-success, .notification-warning, .notification-info {
  width: 80%;
  height: 3em;
  margin: 1em auto;
  padding: 0.2em 0.9em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.625em;
  color: #f1f1f1;
}

.notification-default i, .notification-error i, .notification-success i, .notification-warning i, .notification-info i {
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  cursor: pointer;
}

.notification-default {
  background-color: #0d6efd;
}

.notification-error {
  background-color: #dc3545;
}

.notification-success {
  background-color: #28a745;
}

.notification-warning {
  background-color: #ffc107;
}

.notification-info {
  background-color: #6c757d;
}

.form {
  padding: 0.8em 0.2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form a {
  margin-top: 0.5em;
}

.line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4em 0;
}

.line label {
  padding: 0.1em 0.2em;
}

.line input {
  width: 19em;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

.line i {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  font-size: 1.5em;
}

.submit {
  margin-top: 0.8em;
  padding: 0.5em 1.9em;
  background-color: #008bf8;
  color: #f1f1f1;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.submit:hover {
  background-color: #006ec5;
}

#Index {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Index .info {
  width: 100%;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#Index .info .badge {
  width: 13em;
  height: 6em;
  padding: 0.8em 0.9em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #39a0ed;
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
}

#Index .info .badge i {
  font-size: 3em;
  color: #f1f1f1;
  vertical-align: middle;
}

#Index .info .badge span {
  color: #f1f1f1;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Ubntu", sans-serif;
}

#Index .info .badge p {
  color: #f1f1f1;
}

#Index .info .badge:nth-child(2) {
  background-color: #ff8011c7;
}

#Index .info .badge:nth-child(3) {
  background-color: #79b473;
}

#Index .about {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Index .about h3 {
  text-align: center;
  color: #006ec5;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

#Index .about table {
  width: 90%;
  padding: 1em 1em;
  border-spacing: 0;
  background-color: rgba(167, 167, 167, 0.075);
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
}

#Index .about table tbody {
  display: table-row-group;
  vertical-align: middle;
}

#Index .about table tr {
  display: table-row;
  width: 100%;
}

#Index .about table th {
  padding: 0.7em 1em;
  width: 60%;
  text-align: left;
}

#Index .about table td {
  width: 40%;
}

#Users {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Users table {
  width: 99%;
  border: none;
  outline: none;
  border-spacing: 0;
}

#Users table thead tr {
  background-color: rgba(53, 53, 53, 0.445);
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
  line-height: 3em;
}

#Users table tbody tr {
  line-height: 2em;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.192);
  vertical-align: middle;
}

#Users table tbody tr:nth-child(even) {
  background-color: rgba(209, 209, 209, 0.541);
}

#Users table tbody tr td i {
  font-size: 1.3em;
  vertical-align: middle;
}

#Users table tbody tr .true {
  color: #28a745;
}

#Users table tbody tr .false {
  color: #fd685b;
}

#Tickets {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Tickets a {
  padding: 0.3em 0.6em;
  background-color: #008bf8;
  border-radius: 0.3125em;
  font-size: 1.2em;
  margin-bottom: 2em;
}

#Tickets table {
  width: 80%;
  border: none;
  outline: none;
  border-spacing: 0;
}

#Tickets table thead tr {
  background-color: rgba(53, 53, 53, 0.445);
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
  line-height: 3em;
}

#Tickets table tbody tr {
  line-height: 2em;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.192);
  vertical-align: middle;
}

#Tickets table tbody tr:nth-child(even) {
  background-color: rgba(209, 209, 209, 0.541);
}

#Tickets table tbody tr td i {
  font-size: 1.3em;
  vertical-align: middle;
}

#Tickets table tbody tr .true {
  color: #28a745;
}

#Tickets table tbody tr .false {
  color: #fd685b;
}

#Ticket {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Ticket form {
  width: 60%;
}

#Ticket form .line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Ticket form .line input,
#Ticket form .line select,
#Ticket form .line textarea {
  width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Ticket form .line textarea {
  padding: 0.5em 0.7em;
  max-width: 100%;
  min-height: 5em;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

#Chat {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.list {
  background-color: royalblue;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat {
  background-color: salmon;
}

#Invoices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Invoices .invoice-container {
  width: 92%;
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Invoices .invoice-container .card {
  padding: 0.9em 1.2em;
  width: 12em;
  height: 15em;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#Invoices .invoice-container .card i {
  color: #ec1c24;
  font-size: 6em;
}

#Invoices .invoice-container .card p {
  color: #1d84b5;
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
}

#Invoices .invoice-container .card a {
  padding: 0.4em 0.8em;
  background-color: #008bf8;
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#Invoices .invoice-container .card a:hover {
  background-color: #006ec5;
}

#Invoices .invoice-container .card time {
  color: #727272;
  font-size: 0.9em;
}

#Invoices .done {
  position: relative;
}

#Invoices .done::after {
  content: "DONE";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f1f1;
  top: 3%;
  right: 3%;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #28a745;
}

#Settings {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
}

#Settings .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Settings .password-container,
#Settings .email-container {
  background-color: rgba(219, 219, 219, 0.062);
  padding: 0.2em;
  width: 23em;
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.116);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.116);
  padding: 0.9em 0;
}

#Settings .password-container h5,
#Settings .email-container h5 {
  text-align: center;
  color: #006ec5;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

#Settings .upload-container {
  background-color: rgba(219, 219, 219, 0.062);
  padding: 0.2em;
  width: 18em;
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.116);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.116);
  padding: 0.9em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Settings .upload-container h5 {
  text-align: center;
  color: #006ec5;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

#Login {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Login .container {
  width: 30em;
  height: 35em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Login .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Login .container .head img {
  height: 5em;
  width: auto;
}

#Login .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Login .container p,
#Login .container a {
  color: #111;
}

#Login .container a {
  color: #008bf8;
}

#Login .container a:hover {
  text-decoration: underline;
}

#Register {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Register .container {
  width: 30em;
  height: 35em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Register .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Register .container .head img {
  height: 5em;
  width: auto;
}

#Register .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Register .container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Register .container form .row {
  width: 19em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Register .container form .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Register .container form .row .col label {
  padding: 0.1em 0.2em;
}

#Register .container form .row .col input {
  width: 95%;
  height: 2.5em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  font-size: 1em;
}

#Register .container p,
#Register .container a {
  color: #111;
}

#Register .container a {
  color: #008bf8;
}

#Register .container a:hover {
  text-decoration: underline;
}

#Reset {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Reset .container {
  width: 30em;
  height: 25em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Reset .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Reset .container .head img {
  height: 5em;
  width: auto;
}

#Reset .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Reset .container p,
#Reset .container a {
  color: #111;
  margin-top: 0.5em;
}

#Reset .container a {
  color: #008bf8;
}

#Reset .container a:hover {
  text-decoration: underline;
}

#Password {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Password .container {
  width: 30em;
  height: 28em;
  background-color: #ffffff;
  padding: 1em 0.5em;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Password .container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Password .container .head img {
  height: 5em;
  width: auto;
}

#Password .container .head h1 {
  color: #006ec5;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#Password .container p,
#Password .container a {
  color: #111;
}

#Password .container a {
  color: #008bf8;
}

#Password .container a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */