#Tickets {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .new {
        padding: 0.3em 0.6em;
        background-color: $color-primary;
        @include rounded(em(5));
        font: {
            size: 1.2em;
        }
        margin-bottom: 2em;
    }

    table {
        width: 80%;
        border: none;
        outline: none;
        border-spacing: 0;
        thead tr {
            background-color: rgba(53, 53, 53, 0.445);
            box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.082);

            line-height: 3em;
        }

        tbody {
            tr {
                line-height: 2em;
                text-align: center;
                background-color: rgba(211, 211, 211, 0.192);
                vertical-align: middle;
                &:nth-child(even) {
                    background-color: rgba(209, 209, 209, 0.541);
                }
                td i {
                    font-size: 1.3em;
                    vertical-align: middle;
                }
                .true {
                    color: map-get($alert-colors, "success");
                }
                .false {
                    color: map-get($alert-colors, "error");
                }
                a {
                    color: $color-text-dark;
                }
            }
        }
    }
}
#Ticket {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 60%;
        .line {
            width: 100%;
            display: flex;
            align-items: center;
            input,
            select,
            textarea {
                width: 100%;
                height: 2.5em;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 0.2em 0.5em;
                box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
                @include rounded(em(4));
                font: {
                    size: 1em;
                }
            }
            textarea {
                padding: 0.5em 0.7em;
                max-width: 100%;
                min-height: 5em;
                box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.055);
                font: {
                    size: 1em;
                    family: "Source Sans Pro", sans-serif;
                }
            }
        }
    }
}
