html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// ScrollBar
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #2f2f2f;
}
::-webkit-scrollbar-thumb {
    background: #151515;
}

::-webkit-scrollbar-thumb:hover {
    background: #181818;
}

body {
    -webkit-font-smoothing: antialiased;
    font: {
        size: $font-size-base;
        family: $font-family;
        weight: 400;
    }
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: $color-text-light;
}
#Main {
    width: calc(100% - #{$sidebar-width});
    min-height: calc(100vh - #{$navbar-height});
    height: 100vh;
    background-color: $color-text-light;
    margin-left: $sidebar-width;
    margin-top: $navbar-height;
    padding: 0.4em 0.9em;
    transition: {
        property: width, main;
        duration: $animation-speed;
    }
}
.max {
    width: calc(100% - #{$sidebar-small-width}) !important;
    margin-left: $sidebar-small-width !important;
}
