html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// ScrollBar
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #2f2f2f;
}
::-webkit-scrollbar-thumb {
    background: #151515;
}

::-webkit-scrollbar-thumb:hover {
    background: #181818;
}

body {
    -webkit-font-smoothing: antialiased;
    font: {
        size: $font-size-base;
        family: $font-family;
        weight: 400;
    }
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: $color-text-light;
}
