//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: "Roboto", sans-serif;

$color-text-dark: #111;
$color-text-light: #f1f1f1;
$color-footer: #0b0a07;
$color-primary: #008bf8;
$color-secondary: #1d84b5;

$debug: false;
$enable-rounded: true;
$animation-speed: 0.25s;

$navbar-height: em(40);
$sidebar-width: em(280);
$sidebar-small-width: em(60);
$footer-height: em(35);

$alert-colors: (
    "default": #545766,
    "error": #fd685b,
    "success": #28a745,
);

$notifications-colors: (
    "default": #0d6efd,
    "error": #dc3545,
    "success": #28a745,
    "warning": #ffc107,
    "info": #6c757d,
);
