footer {
    grid-area: footer;
    width: 100%;
    height: $footer-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-footer;

    p,
    a {
        color: darken($color-text-light, 5);
    }
    a {
        transition: color $animation-speed;
        &:hover {
            color: $color-secondary;
        }
    }
}
@media (max-width: 900px) {
    footer {
        height: calc(#{$footer-height} + 2.5em);
        flex-direction: column;
        justify-content: center;
        p,
        a {
            font-size: 0.95em;
        }
    }
    #Main {
        grid-template-rows: $navbar-height 100vh calc(#{$footer-height} + 2.5em);
    }
}
