footer {
    width: calc(100% - #{$sidebar-width});
    margin-left: $sidebar-width;
    height: $footer-height;
    background-color: $color-footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    p {
        color: $color-text-light;
    }
    a {
        font-weight: 600;
        transition: color $animation-speed;
        &:hover {
            color: $color-secondary;
        }
    }
}
@media (max-width: 900px) {
    footer {
        height: calc(#{$footer-height} + 2.5em);
        flex-direction: column;
        justify-content: center;
        p,
        a {
            font-size: 0.95em;
        }
    }
}
