.navbar {
    width: calc(100% - #{$sidebar-width});
    height: $navbar-height;
    position: fixed;
    right: 0;
    top: 0;
    background-color: darken($color-secondary, 10);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    z-index: 100;

    .logo img {
        height: calc(#{$navbar-height} - 8px);
        width: auto;
    }

    .info span {
        color: darken($color-text-light, 2);
    }

    .logout {
        font-size: 1.5em;
        background-color: darken($color-secondary, 20);
        color: $color-text-light;
        padding: 0.1em 0.2em;
        @include rounded(em(3));
        text-align: center;
    }
}
@media (max-width: 600px) {
    .navbar .info {
        display: none;
    }
}
